
{{#if pregunta.isNew}}

	Pregunta: {{input type="text" value=pregunta.nombre}} <button {{action 'remover'}}>Remover</button> {{!-- <br><br>  --}}{{!-- {{totalOpciones}} --}}
	<form>
		{{#each pregunta.opciones as |opcion|}}
			{{form-option opcion=opcion new=true}}
		{{/each}}
	</form>

{{else}}
	
	Pregunta: {{pregunta.nombre}} <button {{action 'remover'}}>Remover</button> 

	<form>
		{{#each resCorrecta as |opcion|}}
			{{form-option opcion=opcion new=false}}
		{{/each}}
	</form>

{{/if}}

<br>
